{% use 'form_div_layout.html.twig' %}

{% block widget_attributes %}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' is-invalid')|trim}) -%}
    {%- endif -%}
    {{ parent() }}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="field-error">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
