services:
    php:
        build:
            context: php
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
        container_name: ${PROJECT_NAME}_php
        environment:
            APP_ENV: ${APP_ENV}
            PHP_IDE_CONFIG: "serverName=localhost"
            DOTENV_OVERLOAD: true
        volumes:
            - ./../:/var/www/
            - ./php/php.ini:/usr/local/etc/php/php.ini
            - ../logs/php:/var/log/php
        dns:
            - 8.8.8.8
        extra_hosts:
            - host.docker.internal:${LOCALHOST_IP_ADDRESS}

    postgres:
        image: postgres:14.19-trixie
        container_name: ${PROJECT_NAME}_postgres
        restart: unless-stopped
        environment:
            POSTGRES_USER: app
            POSTGRES_PASSWORD: "!ChangeMe!"
            POSTGRES_DB: app
        ports:
            - ${POSTGRES_PORT}:5432
        volumes:
            - ./postgres/data:/var/lib/postgresql/data
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U app" ]
            interval: 5s
            timeout: 3s
            retries: 5

    nginx:
        build:
            context: nginx
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
                PHP_HOST: ${PROJECT_NAME}_php
        container_name: ${PROJECT_NAME}_nginx
        volumes:
            - ../:/var/www
            - "./nginx/conf.d:/etc/nginx/conf.dist"
            - ../logs/nginx:/var/log/nginx
            - "/etc/timezone:/etc/timezone:ro"
            - "/etc/localtime:/etc/localtime:ro"
        environment:
            PROJECT_NAME: ${PROJECT_NAME}
            PHP_HOST: ${PROJECT_NAME}_php
        ports:
            - ${NGINX_HOST_HTTP_PORT}:80
        depends_on:
            - php
        networks:
          default:
            aliases:
              - user-activity-analysis.ru

    nodejs:
        container_name: ${PROJECT_NAME}_nodejs
        build:
            context: nodejs
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
        volumes:
            - ../:/var/www
        environment:
            NODE_ENV: development

    redis:
        container_name: ${PROJECT_NAME}_redis
        restart: always
        volumes:
            - ./redis/data/:/data/
            - ./redis/etc/redis.conf:/usr/local/etc/redis/redis.conf
        build:
            context: redis

    redis-commander:
        image: rediscommander/redis-commander
        container_name: ${PROJECT_NAME}_redis_commander
        environment:
            - REDIS_HOSTS=0:redis:6379:0,1:redis:6379:1,2:redis:6379:2
        ports:
            - ${REDIS_WEB_PORT}:8081

    selenium:
        container_name: ${PROJECT_NAME}_selenium
        environment:
            - SE_NODE_OVERRIDE_MAX_SESSIONS=true
            - SE_NODE_MAX_SESSIONS=5
        privileged: true
        shm_size: 2g
        hostname: chrome
        ports:
            - ${SELENIUM_VIEW_PORT}:7900
        build:
            context: selenium
            args:
                USER_ID: ${USER_ID}
                GROUP_ID: ${GROUP_ID}
        volumes:
            - ../tests/_output/downloads:/home/seluser/Downloads

networks:
    default:
        name: ${PROJECT_NAME}_network
        driver: bridge
