<header class="header">
    <div class="container header-inner">
        <div class="logo">
            <a href="{{ path('dashboard') }}"><img src="{{ asset('build/images/logo.png') }}" alt="ВГТУ"></a>
            <div class="logo-text">
                <strong>ВОРОНЕЖСКИЙ ГОСУДАРСТВЕННЫЙ ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</strong>
                <span><br>Опорный университет Воронежской области</span>
            </div>
        </div>
    </div>
</header>
