<header class="header">
    <div class="container header-inner">
        <div class="logo">
            <img src="{{ asset('build/images/logo.png') }}" alt="ВГТУ">
            <div class="logo-text">
                <strong>ВОРОНЕЖСКИЙ ГОСУДАРСТВЕННЫЙ<br>ТЕХНИЧЕСКИЙ УНИВЕРСИТЕТ</strong>
                <span><br>Опорный университет Воронежской области</span>
            </div>
        </div>

        <form class="search-form">
            <input type="text" placeholder="строка поиска">
            <button type="submit">🔍</button>
        </form>
    </div>
</header>
