<div class="topbar">
    <div class="container">
        <div class="topbar-left">
            <a href="#"><img src="{{ asset('build/images/vk.svg') }}" alt="VK"></a>
            <a href="#"><img src="{{ asset('build/images/tg.svg') }}" alt="Telegram"></a>
        </div>
        <div class="topbar-right">
            <button class="lang-btn">A</button>
        </div>
    </div>
</div>
