{% extends 'bundles/TwigBundle/Exception/error.html.twig' %}

{% block title %}Ошибка сервера{% endblock %}

{% block status_code %}500{% endblock %}

{% block message %}
    {% if app.environment is same as('dev') %}
        <div class="alert alert-danger text-start small mb-4">
            {{ message }}
        </div>
    {% else %}
        <p class="fs-4 text-secondary mb-4">
            {{ status_text|default('Что-то пошло не так...') }}
        </p>
    {% endif %}
{% endblock %}
